<div id="aboutModal">
    <div id="mBody">
        <div class="bg-info p-3">Book Store</div>
        <div class="bg-secondary-subtle p-5">
            <p>This website allows user to rent books through registered users.</p>
            <p>This app uses express, ejs, and SQL.</p>
            <div class="text-end">
                <button class="btn btn-danger text-end" onclick="closeAbout()">Close</button>
            </div>
        </div>
    </div>
</div>